.jfx-button {
        -fx-background-color:  #202020;
        -fx-text-fill: #ffffff;
        -fx-font-size: 14px
}

.jfx-button:hover {
        -fx-background-color: #009bff;
        -fx-text-fill: #202020;
}